<div class="newsletter">Newsletter<br>

  <%= form_tag('/emailapi/subscribe', method: "post", id: "subscribe", remote: "true") do -%>
    <div class="email_field">

    <%= email_field(:email, :address, {id: "email-field", placeholder: "Your email"}) %>
    <%= submit_tag("Sign up", {id: "submit_btn"}) %>
    <div id="emailMsg"></div>
  </div>

    <% end %>

</div>

<br>
<div class="contacts"><%=link_to 'Instagram' , 'https://instagram.com/terresdailleurs' , target: "_blank" %></div>

<div class="contact-phone"><a href="mailto:info@lesterresdailleurs.com">contact us</a></div>
