<% provide(:title,'Contact') %>

<div class="contact-page">

<div class="title-arrow">
<div class="inquire-title"><%= mail_to "me@domain.com" , "Share your cocktail recipe" ,  subject: "My Cocktail Recipes" ,  target:"_blank" %>  </div>    <%= inline_svg_tag 'Arrow.svg' , id: 'arrow-nav'%>







</div>
</div>
