// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$sable : #fffbf9;
$ciel: #2a3791;
$or : #9b883b;
@font-face { font-family: Aeonik;
    src: url('fonts/Aeonik-Regular.otf');
        src: font_url('Aeonik-Regular.otf');
}


///////
*:focus{
 outline: none;
}

textarea, select, input, button { outline: none; }

body{
background-color: $sable;
font-family: Aeonik , sans-serif;
a , #email-field{font-family: Aeonik , sans-serif;
  color: $or;
  text-decoration: none;
  font-size: 1em;
}};


 .main-container {

  width: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
 }
.newsletter{
  margin: 15% 0;

}
.links{
  display: grid;
  grid-template-columns: 1fr 1fr;
  .email{text-align: end}
  a{  &:hover{padding-bottom: 5px ; border-bottom: 1px solid $or;}
}
.logo{width: 80%}
}

.updates{
  display: grid;
  grid-template-columns: 80% 20%;
  //grid-column-gap: 20%;

  #email-field {
        border: none;
        border-bottom: 1px solid $or;
        background: none;
}
#submit_btn{
  width: 18%;
  border: none;
  background: none;
  justify-self: end;
}}

#emailMsg{
height: 2px;
  font-family: Aeonik, sans-serif;
  font-size: 14px;
  padding: 0;margin: 0;margin-top: 5px;
}

.text-success{color: $or;margin: 0 ; margin-top: 5px;}
.text-danger{color: coral; margin: 0 ; margin-top: 5px;}





////


.north-arrow{
  width: 1%;
  position: absolute;
  left: 20%;
  bottom: 5%;
  .cls-1{fill: $or}
}

.arctic{
  width: 40%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.fedora{
    width: 14%;
    position: absolute;
    left: 10%;
    top: 20%;
    transform: scale(-1,1);
}


.moyra{
    width: 15%;
    position: absolute;
    right: 10%;
    bottom: 50%;
}

/////// MOBILE

.main-container-mobile {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  .updates{
  #email-field{font-size: .8em;}
  }
}

.mobile{
.logo{.cls-1{fill: $ciel}}

.arctic{
  width: 120%;
  position: absolute;
  bottom: 0;
  .cls-1{fill: $ciel}

}
.moyra{
  width: 45%;
  position: absolute;
  top: 35%;
  left: 50%;
  .cls-1{fill: $ciel}


}
.fedora{
  width: 40%;
  position: absolute;
  top: 5%;
  left: -15%;
  .cls-1{fill: $ciel}


}

.north-arrow{
  width: 3%;
  position: absolute;
  left: 15%;
  bottom: 5%;

}

.updates{
  display: grid;
  grid-template-columns: 3fr 1fr;

}
}
