@import "variables";



.preload * {
  transition: none !important
}

////// HEADER
.mobile-header{
//  background-color: yellow;
margin: 0;
padding: 0;
padding-top: 20px;
display: grid;
grid-template-columns: 80% 20%;

.logo-nav{
margin-left: 10px;
svg{height: 40px; .cls-1{fill:$ciel}}}

.burger{
margin-right: 10px;
display: grid;
align-items: center;
justify-content: end;
 svg{height: 20px;.cls-1{fill:$ciel}}}
}


.top-nav-mobile{
background-color: $hiver;
position: fixed;
top: 0;
left: 0;
height: 100vh;
z-index: 1;
overflow-x: hidden;
width: 100vw;
.close-svg{margin-top: 30px; svg{height: 20px; float: right; margin-right: 30px;.cls-1{fill:$ciel}}}




.links{
  margin-top: 90px;
  display: block;
font-size: 2.5rem;
text-transform: capitalize;
a{color: $ciel};
p{margin: 25px 0;}
margin-left: 40px;;
}

transform: translateX(-100vw);
transition: transform 0.4s ;
}
.open{
  transform: translateX(0);

}


////// master-container-mobile
.master-container-mobile {
}


///////// FOOTER MASTER Mobile

.footer-master-mobile{

  margin-top: 20vh;
  width:90vw;
  padding-bottom: 40px;

  margin-left: 20px;;

#footer-text{color: $or;font-family: AeonikL ; padding-top:15px}
.subscribe-footer{
.updates{margin: 40px 0;#email-field{border-bottom: 1px solid $ciel; font-family: AeonikL ; color: $ciel}}
#subscribe-btn{height: 20px; margin-left: 50px; .cls-1{fill:$ciel}}
#sub-text{
  font-family: AeonikB;
  color: $ciel;
  font-size: 1.5rem;}
}

.footer-head{font-family: AeonikB; font-size: 1rem; color: $ciel; padding-bottom: 0px; margin-bottom: 5px;}
.ft-link{padding-top: 10px ;font-family: AeonikL; font-size: 1rem; color: $ciel; a{color: $ciel; font-family: AeonikL; }}}




//////////////////home
.product-content-home{
  margin: auto;
  margin-top: 5%;
  position: relative;
  text-align: center;
.image-mob{overflow: hidden; margin:0; margin-top:20px;
  img{margin:0 -150%;width:280%;}}

#b-r-mobile , #b-l-mobile, #t-r-mobile , #t-l-mobile {width: 10%; position:absolute; .cls-1{fill:$ciel}}

#b-r-mobile{right: 10%;top:60%}
#b-l-mobile{left: 10%;top:60%;}
#t-r-mobile{right: 10%;bottom:80%;}
#t-l-mobile{left: 10%;bottom:80%;}
.overlay{
position: absolute;
 top: 35%;
 left: 50%;
 transform: translate(-50%, -50%);
 font-family: Love, sans-serif;
 color: $ciel;
 font-size: 4rem;
 display: none;
}};




/////// ABOUT
.section-head{margin-left: 20px; font-family: AeonikB; font-size: 1.2rem; color: $ciel; margin-bottom: 20px;}
#about-mobile{background-color: #f0f0f0;
.about-block{margin: 0;width: 100vw; padding: 10vh 0; }
.block-title{font-size: 3.437rem; padding: 20px 20px;}
.block-text{font-size: 1.1rem; width: 80vw; line-height: 1.5;  margin-left:25px;
}
}
