@import "variables";



.preload * {
  transition: none !important
}

////// HEADER
.mobile-header{
//  background-color: yellow;
margin: 0;
padding: 0;
padding-top: 20px;
display: grid;
grid-template-columns: 80% 20%;

.logo-nav{
margin-left: 10px;
svg{height: 40px; .cls-1{fill:$ciel}}}

.burger{
margin-right: 10px;
display: grid;
align-items: center;
justify-content: end;
 svg{height: 20px;.cls-1{fill:$ciel}}}
}


.top-nav-mobile{
background-color: $hiver;
position: fixed;
top: 0;
left: 0;
height: 100vh;
z-index: 1;
overflow-x: hidden;
width: 100vw;
.close-svg{margin-top: 30px; svg{height: 20px; float: right; margin-right: 30px;.cls-1{fill:$ciel}}}




.links{
  margin-top: 90px;
  display: block;
font-size: 2.5rem;
text-transform: capitalize;
a{color: $ciel};
p{margin: 25px 0;}
margin-left: 40px;;
}

transform: translateX(-100vw);
transition: transform 0.4s ;
}
.open{
  transform: translateX(0);

}


////// master-container-mobile
.master-container-mobile {
}


///////// FOOTER MASTER Mobile

.footer-master-mobile{

  margin-top: 20vh;
  width:90vw;
  padding-bottom: 40px;
  margin-left: 20px;;

#footer-text{color: $or;font-family: AeonikL , sans-serif; padding-top:15px}
.subscribe-footer{
.updates{margin: 40px 0;#email-field{border-bottom: 1px solid $ciel; font-family: AeonikL ; color: $ciel}}
#subscribe-btn{height: 20px; margin-left: 50px; .cls-1{fill:$ciel}}
#sub-text{
  font-family: AeonikB;
  color: $ciel;
  font-size: 1.5rem;}
}

.footer-head{font-family: AeonikB; font-size: 1rem; color: $ciel; padding-bottom: 0px; margin-bottom: 5px;}
.ft-link{padding-top: 10px ;font-family: AeonikL; font-size: 1rem; color: $ciel; a{color: $ciel; font-family: AeonikL; }}}




//////////////////home
.product-content-home{
  margin: auto;
  margin-top: 5%;
  position: relative;
  text-align: center;
.image-mob{overflow: hidden; margin:0; margin-top:20px;
  img{margin:0 -150%;width:280%;}}

#b-r-mobile , #b-l-mobile, #t-r-mobile , #t-l-mobile {width: 10%; position:absolute; .cls-1{fill:$ciel}}

#b-r-mobile{right: 10%;top:60%}
#b-l-mobile{left: 10%;top:60%;}
#t-r-mobile{right: 10%;bottom:80%;}
#t-l-mobile{left: 10%;bottom:80%;}
.overlay{
position: absolute;
 top: 35%;
 left: 50%;
 transform: translate(-50%, -50%);
 font-family: Love, sans-serif;
 color: $ciel;
 font-size: 4rem;
 display: none;
}};




/////// ABOUT
.section-head{margin-left: 20px; font-family: AeonikB, sans-serif;; font-size: 1.2rem; color: $ciel; margin-bottom: 20px;}
#about-mobile{background-color: #f0f0f0;
.about-block{margin: 0;width: 100vw; padding: 10vh 0; }
.block-title{font-size: 3.437rem; padding: 20px 20px;}
.block-text{font-size: 1.1rem; width: 80vw; line-height: 1.5;  margin-left:25px;
}
}

//////// stories


.story-map-mobile{
  height: 90vh;
  .island-name-map{font-family: Love, sans-serif; color: $ciel;font-size:1.3rem; text-align: center; margin-top: 0; padding-top: 0;}
  .island-adelma, .island-fedora, .island-tertia, .island-moyra, .island-the-arges, .island-gula {position: relative; .cls-1{fill:$ciel}}
  .island-adelma{width: 180px; left:90px; }
  .island-fedora{width: 80px;   left: 30px;}
  .island-tertia{width: 90px;  left: 180px}
  .island-moyra{width: 105px; left:280px;}
  .island-the-arges{width: 60px; left:30px;}
  .island-gula{width: 30px; left:320px;}
}


.island-story-mobile{
  margin-left: 20px;
  #story-title{font-family: Love, sans-serif; font-size: 2.4rem; margin-top: 50px; color:$or; margin-bottom: 50px;}
  #product-name{font-family: AeonikB, sans-serif; font-size: 1.2rem; color: $ciel;margin-bottom: 5px;}
  #product-type{font-family: AeonikL, sans-serif; font-size: 1.1rem; color: $ciel;margin-bottom: 50px;}
  #product-story{width: 80vw; font-family: AeonikL ,  sans-serif; font-size: 1.1rem; color: $ciel;}
  #island-shape{ position: absolute; svg{height: 12vh;} left:150px; }
  #contribute{
    margin-top: 50px; margin-left: 20px;
    a{display: grid; grid-template-columns: 1fr 1fr; align-items: center;
      font-family: AeonikL ,  sans-serif; font-size: 1.1rem; color: $ciel;} svg{width: 100px;.cls-1{fill:$ciel}}}
  }



//////////////coktails
#cocktails{
  background-color: $ciel;
  #head-cocktails{color: $hiver; padding-top: 20px;}
}
.cocktail-mobile{
  display: grid;
  justify-content: center;
  text-align: center;
  padding-bottom: 10px;
  color: $hiver;
  * {margin: 0}
  .cocktail-image-mobile{
    display: grid;
    justify-content: center;
    img{width: 90vw;}
  }
  .cocktail-name {
    font-family: Love , sans-serif;
    font-size: 3.1rem;
    margin-top: 20px;


  }
  .cocktail-info{
  font-family: AeonikL, sans-serif;
  font-size: 1rem;
  margin: 10px 0;
  margin-bottom: 20px;
  text-decoration: underline;
  text-underline-offset: 7px;


  }
  .name-author-mobile{
  #download-icon, #share-icon{width: 6vw; .cls-1{fill:$hiver} padding-top: 10px;}
  #download-icon{padding-right: 15px}
  #share-icon{padding-left: 15px;}
  }

.recipe-mobile{
  text-align: left;
  margin-left: 20px;
  width: 90vw;
  white-space: pre-line;
  .cocktail-com{
    font-family: AeonikB, sans-serif;
    font-size: 1.1rem;
    color: $sable;
  }
}
.closing-cocktail{
  display: grid;
  text-align: left;
  margin-left: 20px;
  font-family: Aeonik, sans-serif;
  width: 90vw;
  font-size: 1.1rem;
  color: $sable;
  #share-mobile{a{color:$sable; font-family: Love, sans-serif; font-size: 2.2rem; padding-top: 15px; display: inline-flex;align-items: center; .cls-1{fill:$sable}
}}
  #arrow-mobile{width: 70px; padding-left: 10px;}
}
}

#contact-mobile{
background-color: $hiver;



}
