// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

///////////////////SHOW////////////////
.product-show-info{
  h1{
    font-size: 15pt;
  a {font-size: 15pt;}
  svg{height: 100px;}
}}
