<%= @product.name %>
<h1> <%= link_to "Update", edit_product_path(@product.id) %> |  <%= link_to 'Delete', @product, method: :delete,  data: { confirm: "You sure? you want to delete"} %> <h1>
<p>
  <% if @product.image.attached? %>
  <%=image_tag url_for(@product.image) %>

<%end%>

</p>
